.title {
    text-align: center;
    font-size: 56px;
}

.group {
    white-space: nowrap;
}

.input, .button {
    height: 2rem;
    border-radius: 8px;
}

.input {
    padding-left: var(--spacing-l);
}

.input {
    margin-left: var(--spacing-s);
    border: 1px solid #acacac;
}

.button {
    font-weight: bold;
    text-align: center;
    border: none;

    transition: all 0.2s ease;
}

.button:hover,
.button:focus,
.button:focus-within {
    transform: scale(1.02);
    filter: brightness(90%);
}

.btn_start {
    width: 100%;
    margin-block: var(--spacing-l) var(--spacing-xl);
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn_board {
    background-color: #dabe8a;
}

/***************/

.red-text{
    color: red;
}

.blue-text{
    color: blue;
}

.text-left{
    text-align: left;
    margin-bottom: 10px;
}

center .text-left{
    margin-left: 40%;
}
